<div class="bg-beigewhite py-16 lg:py-26" id="faq">
	<div class="max-w-7xl mx-auto px-4">
		<div class="text-center max-w-xl text-black mx-auto">
			<h1 class="text-5xl md:text-6xl font-bold mb-5">FAQ</h1>
			<h3 class="text-xl font-medium mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit repellat
				dignissimos laboriosam odit accusamus porro</h3>
		</div>

		<div class="max-w-2xl mx-auto flex flex-col gap-y-3" id="j-faq">

			<!-- Start of FAQ item -->
			<div class="j-faqItem overflow-hidden">
				<div class="bg-darkbeige relative h-10 flex justify-center items-center rounded-lg z-20 relative hover:bg-beige  transition-colors">
					<a class="w-full h-full absolute j-question" href="#"></a>
					<p>Is there parking?</p>
				</div>

				<p class="j-answer px-2">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
				</p>
			</div>
			<!-- End of FAQ item -->

			<!-- Start of FAQ item -->
			<div class="j-faqItem overflow-hidden">
				<div class="bg-darkbeige relative h-10 flex justify-center items-center rounded-lg z-20 relative hover:bg-beige  transition-colors">
					<a class="w-full h-full absolute j-question" href="#"></a>
					<p>Are there any hidden fees?</p>
				</div>

				<p class="j-answer px-2">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
				</p>
			</div>
			<!-- End of FAQ item -->

			<!-- Start of FAQ item -->
			<div class="j-faqItem overflow-hidden">
				<div class="bg-darkbeige relative h-10 flex justify-center items-center rounded-lg z-20 relative hover:bg-beige  transition-colors">
					<a class="w-full h-full absolute j-question" href="#"></a>
					<p>How many mountain dew flavors are there?</p>
				</div>

				<p class="j-answer px-2">
					So many different Mountain Dew flavors have been introduced since the soda was first invented in the 1940s—over 35 different flavors to be exact! The soda has remained a fan-favorite for decades due to its classic citrus recipe and hearty kick of caffeine, but we love to sample the flavor innovations.
				</p>
			</div>
			<!-- End of FAQ item -->

			<!-- Start of FAQ item -->
			<div class="j-faqItem overflow-hidden">
				<div class="bg-darkbeige relative h-10 flex justify-center items-center rounded-lg z-20 relative hover:bg-beige  transition-colors">
					<a class="w-full h-full absolute j-question" href="#"></a>
					<p>Lorem Ipsum dolar set et?</p>
				</div>

				<p class="j-answer px-2">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
				</p>
			</div>
			<!-- End of FAQ item -->



		</div>

	</div>
</div>

a
