<!-- Start of row -->
<div class="gradient-bg-2 relative">
	<div class="max-w-7xl mx-auto px-4 py-20 lg:py-36 flex flex-col gap-y-20">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-y-10 items-center">
			<div class="md:mr-10">
				<h2 class="text-5xl md:text-6xl font-bold pb-4">Productivity Boost</h2>
				<p class="pb-7">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
				<a href="#" class="font-bold bg-lighterblue hover:bg-oceanblue text-white rounded-md px-7 py-3 transition-colors w-fit">Learn more</a>
			</div>
			<div>

				<div class="rounded-lg overflow-hidden j-pImg">

					<!--
					Same image for different screen sizes to optimize performance
					If you prefer just to use one image, replace <picture></picture> with the following:
					<img src="path/to/your/img.jpg" alt="your alt" class="w-full" />
					-->
					<picture>
						<source media="(min-width: 1280px)" class="w-full" srcset="/assets/img/particulars/productivity-xl.jpg">
						<source class="w-full" media="(min-width: 980px)" srcset="/assets/img/particulars/productivity-lg.jpg">
						<source class="w-full" media="(min-width: 320px)" srcset="/assets/img/particulars/productivity-md.jpg">
						<img class="w-full" src="/assets/img/particulars/productivity-sm.jpg" alt="Person writing on a notebook">
					</picture>
				</div>
			</div>
		</div>
	</div>

	<div class="absolute bottom-0 left-0 w-full height-full bg-black z-20">

	</div>

</div>
<!-- End of row -->


<!-- Start of row -->
<div class="gradient-bg-2">
	<div class="max-w-7xl mx-auto px-4 py-20 lg:py-36 flex flex-col gap-y-20">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-y-10 items-center">
			<div class="md:ml-10 md:order-2">
				<h2 class="text-5xl md:text-6xl font-bold pb-4">Share your biggest moments</h2>
				<p class="pb-7">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
				<a href="#" class="font-bold bg-lighterblue hover:bg-oceanblue text-white rounded-md px-7 py-3 transition-colors w-fit">Learn more</a>
			</div>
			<div>
				<div class="rounded-lg overflow-hidden md:order-1 j-pImg">

					<!--
					Same image for different screen sizes to optimize performance
					If you prefer just to use one image, replace <picture></picture> with the following:
					<img src="path/to/your/img.jpg" alt="your alt" class="w-full" />
					-->
					<picture>
						<source media="(min-width: 1280px)" class="w-full" srcset="/assets/img/particulars/share-xl.jpg">
						<source class="w-full" media="(min-width: 980px)" srcset="/assets/img/particulars/share-lg.jpg">
						<source class="w-full" media="(min-width: 320px)" srcset="/assets/img/particulars/share-md.jpg">
						<img class="w-full" src="/assets/img/particulars/share-sm.jpg" alt="Person taking a picture">
					</picture>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of row -->

