<div class="w-full mx-auto bg-darkblue py-20 lg:py-36  mb-10" id="pricing">
	<div class="max-w-7xl mx-auto px-4">
		<div class="text-center max-w-xl mx-auto text-white">
			<h1 class="text-5xl md:text-6xl font-bold mb-5">Pricing</h1>
			<h3 class="text-xl font-medium mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit repellat dignissimos laboriosam odit accusamus porro</h3>
		</div>
		<div class="mx-auto md:flex" id="j-pricing">
			<div class="w-full  md:max-w-none bg-beigewhite px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:my-6 rounded-md  md:flex md:flex-col j-pricingItem">
				<div class="w-full flex-grow">
					<div class="flex justify-center mb-4">
						<h2 class="text-center font-bold uppercase bg-green-100 w-fit px-2 py-1 rounded-lg text-black">Student</h2>
					</div>
					<h3 class="text-center font-bold text-4xl mb-5">$5/mo</h3>
					<ul class="text-sm text-center mb-5 flex flex-col gap-[0.5rem]">
						<li class="leading-tight">Fast Payments</li>
						<li class="leading-tight">Unlimited Downloads</li>
						<li class="leading-tight">Project tables & boards</li>
						<li class="leading-tight">Pages and wikis</li>
						<li class="leading-tight">Organization and team management</li>

					</ul>
				</div>
				<div class="w-full flex justify-center">
					<a href="#" class="font-bold bg-brightorange hover:bg-darkerorange text-white rounded-md px-10 py-2 transition-colors">Subscribe</a>
				</div>
			</div>
			<div class="w-full md:max-w-none bg-beige px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:-mx-3 md:mb-0 rounded-md md:relative md:z-50 md:flex md:flex-col j-pricingItem">
				<div class="w-full flex-grow">
					<div class="flex justify-center mb-4">
						<h2 class="text-center font-bold uppercase bg-red-100 w-fit px-2 py-1 rounded-lg text-black">Pro</h2>
					</div>
					<h3 class="text-center font-bold text-4xl md:text-5xl mb-5">$15/mo</h3>
					<ul class="text-sm text-center mb-5 flex flex-col gap-[0.5rem]">
						<li class="leading-tight">Fast Payments</li>
						<li class="leading-tight">Unlimited Downloads</li>
						<li class="leading-tight">Project tables & boards</li>
						<li class="leading-tight">Pages and wikis</li>
						<li class="leading-tight">Organization and team management</li>
						<li class="leading-tight">Required status checks</li>
						<li class="leading-tight">Secret scanning</li>
					</ul>
				</div>
				<div class="w-full flex justify-center">
					<a href="#" class="font-bold bg-brightorange hover:bg-darkerorange text-white rounded-md px-10 py-2 transition-colors">Subscribe</a>
				</div>
			</div>
			<div class="w-full md:max-w-none bg-beigewhite px-8 md:px-10 py-8 md:py-10 mb-3 mx-auto md:my-6 rounded-md md:flex md:flex-col j-pricingItem">
				<div class="w-full flex-grow">
					<div class="flex justify-center mb-4">
						<h2 class="text-center font-bold uppercase bg-blue-100 w-fit px-2 py-1 rounded-lg text-black">Starter</h2>
					</div>
					<h3 class="text-center font-bold text-4xl mb-5">$8/mo</h3>
					<ul class="text-sm text-center mb-5 flex flex-col gap-[0.5rem]">
						<li class="leading-tight">Fast Payments</li>
						<li class="leading-tight">Unlimited Downloads</li>
						<li class="leading-tight">Project tables & boards</li>
						<li class="leading-tight">Pages and wikis</li>
					</ul>
				</div>
				<div class="w-full flex justify-center">
					<a href="#" class="font-bold bg-brightorange hover:bg-darkerorange text-white rounded-md px-10 py-2 transition-colors">Subscribe</a>
				</div>
			</div>
		</div>
	</div>

</div>
