<div class="bg-mediumblue py-16 lg:py-26" id="screenshots">
	<div class="max-w-3xl mx-auto">
		<div class="text-center max-w-xl mx-auto text-white px-4">
			<h1 class="text-5xl md:text-6xl font-bold mb-5">Screenshots</h1>
			<h3 class="text-xl font-medium mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit repellat
				dignissimos laboriosam odit accusamus porro</h3>
		</div>
		<div class="px-4 grid grid-cols-2 md:grid-cols-3 gap-2">

			<img class="rounded-lg" src="/assets/img/screenshots/screenshot-1.jpg" alt="easy to pay"/>

			<img class="rounded-lg" src="/assets/img/screenshots/screenshot-2.jpg" alt="crypto"/>

			<img class="rounded-lg" src="/assets/img/screenshots/screenshot-3.jpg" alt="amazing deals"/>

			<img class="rounded-lg" src="/assets/img/screenshots/screenshot-4.jpg" alt="split the bill"/>

			<img class="rounded-lg" src="/assets/img/screenshots/screenshot-5.jpg" alt="payment options"/>

			<img class="rounded-lg" src="/assets/img/screenshots/screenshot-6.jpg" alt="pay later"/>
		</div>
	</div>
</div>

